[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/charlton/Desktop/Asset_1.webp]
row=6
col=0

[/home/charlton/Desktop/notify_led.sh]
row=3
col=0

[/home/charlton/Desktop/Untitled.png]
row=7
col=0

[/home/charlton/Desktop/G500_white.jpg]
row=4
col=0

[/home/charlton/Desktop/signal-2022-04-29-155942_001.png]
row=5
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/charlton]
row=2
col=0

