[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/charlton/Desktop/xfce4cfg]
row=1
col=0

[/home/charlton/Desktop/notify_led.sh]
row=3
col=0

[/home/charlton/Desktop/xfce4cache]
row=4
col=0

[Trash]
row=0
col=0

[/home/charlton]
row=2
col=0

